<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <div class="form-signup">
        <h2>Sign up</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
              <div class="form-inputs" data-controller="form">
                <%= f.input :name,
                            required: false,
                            autofocus: true %>
                <%= f.input :username,
                            required: true,
                            autofocus: true %>
                <%= f.input :location,
                            as: :select,
                            collection: User::Cities,
                            prompt: "Select your city",
                            required: true,
                            autofocus: true %>
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.association :club %>
                <%= f.input :bar, as: :boolean, label: "I am a bar", input_html: { data: { action: "input->form#toggle" } } %>
                <div data-form-target="extra" class="d-none mt-2">
                  <%= f.input :bar_name,
                              required: true,
                              autofocus: true %>
                  <%= f.input :bar_address,
                              required: true,
                              autofocus: true %>
                </div>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
              </div>
            <% end %>
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
