<div class="container py-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
          <h1 class="mb-0 main-blue-text forest">Events</h1>
            <div class="d-flex align-items-center text-muted mt-1">
              <i class="fa-solid fa-location-dot me-2"></i>
              <span><%= current_user.location %></span>
            </div>
          </div>


          <%= link_to "Create new event", new_event_path, class: "btn btn-secondary" %>
      </div>


    <%= form_with url: events_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-3 rounded-4 ",
            placeholder: "Type a keyword"
      %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary"%>
    <% end %>

  <div class="row mt-4">
    <%@events.each do |event|%>
      <%my_event_datetime = event.date %>
      <%date = my_event_datetime.strftime("%d/%m/%Y")%>
      <%time = my_event_datetime.strftime("%H:%M") %>
      <div class="col-12 col-lg-4 mb-3 d-flex">
          <div class="card w-100 text-center">
            <div class="card-body">
              <div class="card-date d-flex justify-content-between">
                <p class="pill"> Brasileirão </p>
                <p><i class="fa-regular fa-calendar forest"></i> <%=date%></p>
              </div>
              <div class="card-title">
              <p><%= image_tag event.match.home_team.shield_path, width: 40 %> x <%= image_tag event.match.away_team.shield_path, width:40%></p>
                <h5><%=event.match.title%></h5>
              </div>
              <p class="card-subtitle mb-2 text-body-secondary"><%=event.name.capitalize%></p>
              <div class="event-info my-3 text-start">
                <h6 class="card-text"><strong><i class="fa-solid fa-location-dot forest"></i></i></strong> <%=event.place%> - <%=event.city%></h6>
                <h6 class="card-text"><strong><i class="fa-regular fa-clock forest"></i></strong> <%=time%></h6>
                <h6 class="card-text"><strong><i class="fa-regular fa-user forest"></i></strong> Hosted by: <%=event.user.username%></h6>
              </div>
              <%=link_to "See event", event_path(event), class:"card-link btn btn-primary mb-2"%>
              <% unless current_user.bar? %>
                <%=button_to "I want to go", event_attendances_path(event),
                method: :post, class: "card-link btn btn-primary mb-2 w-100"%>
              <% end %>
            </div>
          </div>
        </div>
    <%end%>
  </div>
</div>
