<div class="container-fluid py-4 my-events-page">
  <h1 class="page-title">My Events</h1>
  <div class="text-center mb-4">
    <%= link_to "Create new event", new_event_path, class: "btn btn-secondary" %>
  </div>

  <div class="my-events-list">
    <% @events.each do |event| %>
      <div class="event-card glass-card">
      <div class="event-title">
        <div class="team">
        <%= image_tag event.match.home_team.shield_path, class: "team-shield" %>
        <span class="team-name"><%= event.match.home_team.name %></span>
      </div>

      <span class="vs">vs</span>

      <div class="team">
        <%= image_tag event.match.away_team.shield_path, class: "team-shield" %>
        <span class="team-name"><%= event.match.away_team.name %></span>
      </div>
    </div>

      <p class="event-meta"><%= event.name %></p>
      <p class="event-meta"><strong>Location:</strong> <%= event.address %></p>
      <p class="event-meta"><strong>Date:</strong> <%= event.date.strftime("%d/%m/%Y - %H:%M") %></p>

      <%= link_to "See event", event_path(event), class: "btn btn-secondary" %>
  </div>
    <% end %>
  </div>
</div>
