<div class="container event-show-page pt-3">
  <div class="row">
    <%=link_to events_path, class: "link" do %>
      <i class="fa-solid fa-backward"></i> Back
    <%end%>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="event-title-card h-100">
        <div class="elements d-flex flex-column gap-2">
          <div class="d-flex justify-content-between">
          <h1 class="event-title"><%=@event.name%></h1>
          <%if @event.user == current_user%>
          <div class="edit-delete text-center">
          <%= link_to edit_event_path, class: "text-warning" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <%end%>
          <%= link_to event_path(@event), data: { turbo_method: :delete, controller: "sweetalert", action: "click->sweetalert#alert" }, class: "text-danger" do %>
            <i class="fa-solid fa-trash"></i>
          <%end%>
        </div>
      <%end%>
          </div>
          <div class="d-flex gap-2 mb-4">
            <%= image_tag @event.club.shield_path, width: 44 %>
            <div>
              <p>Hosted by:</p>
              <p class="main-text"><%= @event.user.username %></p>
            </div>
          </div>
          <p><%= @event.description%></p>
          <% unless current_user.bar? %>
              <%if @user_in_event%>
                <%= simple_form_for [@event, @attendance] do |f| %>
                  <%= f.button :submit, "You're already in the event.", class: "btn-custom-primary btn-primary w-100 mt-3 disabled no" %>
                <% end %>
              <% elsif Time.now < @event.date %>
                <%= simple_form_for [@event, @attendance] do |f| %>
                  <%= f.button :submit, "Confirm presence", class: "btn-custom-primary btn-primary w-100 mt-3" %>
                <% end %>
              <% end %>
            <% end %>
        </div>
        <div class="row">
          <div class="participants-card">
            <div class="d-flex justify-content-between">
              <h4>Going (<%=@attendances.count%>)</h4>
              <%= link_to event_chats_path(@event), class: "btn btn-custom-secondary" do %>
                <i class="fa-solid fa-comments"></i> Chat
              <%end%>
            </div>
            <%if @attendances.count == 0%>
                <%# no users confirmed %>
                <p>Nobody confirmed yet. Be the first one to confirm! </p>
            <%else%>
                <%# all confirmed users %>
                <ul class="participants-list mt-2">
                  <%@attendances.each do |attendance|%>
                    <li class="participant-item"><%=attendance.user.name%></li>
                  <%end%>
                </ul>
            <%end%>
          </div>
        </div>
        </div>
      </div>

    <div class="col-12 col-md-4">
      <div class="map d-flex flex-column text-center h-100">
      <div class="elements card-custom d-flex flex-column align-items-center rounded-bottom mb-0 pb-0">
            <p class="main-text"><i class="fa-regular fa-futbol"></i> <%= @event.match.title%></p>
            <p class="main-text"><i class="fa-regular fa-calendar"></i> <%= @event.date.strftime("%B %d, %Y") %> - <%= @event.date.strftime("%H:%M") %></p>
            <p class="main-text"><i class="fa-solid fa-location-dot"></i> <%= @event.address%>, <%= @event.city%></p>
          </div>
          <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['API_KEY']%>&q=<%=URI.encode_www_form_component(@event.address)%>" style="border:0; min-height: 29rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="flex-grow-1 w-100"></iframe>
        </div>
    </div>
  </div>

  <%event_end_time = @event.date + 3.hours%>
      <%if Time.current > event_end_time && @user_in_event%>
        <div class="review-card card-custom mt-3 ms-5 me-5">
          <%# deixe seu comentario %>
          <h3>Review this event:</h3>
          <%= simple_form_for [@event, @review] do |f| %>
            <%= f.input :rating, as: :integer, input_html: {min: 1, max: 5, step: 1}, placeholder: "Please rate from 1 to 5", class: "form-control-custom" %>
            <%= f.input :title, as: :string, placeholder: "Review title", class: "form-control-custom" %>
            <%= f.input :content, as: :text, placeholder: "Leave your comment", class: "form-control-custom" %>
            <%= f.submit "Send", class: "btn btn-primary" %>
          <% end %>
          <%# lista de comentarios existentes %>
        </div>
      <%end%>
</div>

  
</div>
