<div class="mt-3">
  <h1><%=@event.name%></h1>

  <h4>Hosted by:</h4>
  <p><%= @event.user.email %></p>

  <h4>Match:</h4>
  <p><%= @event.match.title %></p>

  <h4>Date and Time:</h4>
  <p><%= @event.date %></p>

  <h4>Address:</h4>
  <p><%= @event.address%></p>

  <h4>Event team:</h4>
  <p><%= @event.team%></p>

  <h4>Description</h4>
  <p><%= @event.description%></p>

  <%= simple_form_for [@event, @attendance] do |f| %>
    <%= f.submit "Confirm presence", class: "btn btn-primary" %>
  <% end %>

  <div class="buttons mt-3">
    <%= link_to "Back", events_path, class: "btn btn-primary"%>
    <%= link_to "Chat", event_chats_path(@event), class: "btn btn-primary"%>
  </div>
</div>

  <%= link_to "Remove", event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-dark" %>

  <%= link_to "Edit", edit_event_path, class: "btn btn-primary"%>

<h3>Review average</h3>
<p>
  Média das avaliações:
  <% if @event.average_rating.present? %>
    <%= @event.average_rating %> / 5
  <% else %>
    Ainda não avaliado
  <% end %>
</p>

<h3 class="mt-3">My confirmed review</h3>

  <ul>
    <% @event.reviews.each do |review| %>
      <li><%= review.rating %></li>
      <li><%= review.title %></li>
      <li><%= review.content %></li>
    <% end %>
  </ul>

  <h3>Deixe seu comentário</h3>
  <%= simple_form_for [@event, @review] do |f| %>
    <%= f.input :rating, as: :integer, placeholder: "Dê sua nota de 1 a 5" %>
    <%= f.input :title, as: :text, placeholder: "Titulo da sua avaliação" %>
    <%= f.input :content, as: :text, placeholder: "Deixe seu comentário" %>
    <%= f.submit "Enviar", class: "btn btn-primary" %>
  <% end %>
