<body>
  <div class="container py-5">
    <h1 class="title text-center sage-green mb-5">Meet the team</h1>
    <hr>
    <br>
    <div class="row justify-content-center gy-4">

    <%# card 1 %>
      <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
        <div class="about-card h-100 rounded shadow">
          <div class="card-body d-flex flex-column align-items-center text-center p-4">
              <%= image_tag "Erick.jpeg", alt: "Erick", width: 100, class: "rounded-circle photo-border my-3" %>
              <h3 class="name sage-green"> Erick</h3>
              <p class="bio forest">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <div class="mt-auto">
                <p>
                  <%= link_to "https://github.com/bratugues", target: "_blank", class: "icon mt-auto" do %>
                    <i class="fa-brands fa-github"></i>
                  <% end %>
                  <%= link_to "https://www.linkedin.com/in/ericklobo/", target: "_blank", class: "icon mt-auto" do %>
                    <i class="fa-brands fa-linkedin"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
      </div>

      <%# card 2 %>
      <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
        <div class="about-card h-100 rounded shadow">
            <div class="card-body d-flex flex-column align-items-center text-center p-4">
            <%= image_tag "Otavio.jpeg", alt: "Otavio", width: 100, class: "rounded-circle photo-border my-3" %>
            <h3 class="name sage-green">Otavio</h3>
            <p class="bio forest">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="mt-auto">
              <p>
                <%= link_to "https://github.com/otavio00", target: "_blank", class: "icon mt-auto" do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
                <%= link_to "https://www.linkedin.com/in/otavio-astrath-leite-1a4942238/", target: "_blank", class: "icon mt-auto" do %>
                  <i class="fa-brands fa-linkedin"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <%# card 3 %>
      <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
        <div class="about-card h-100 rounded shadow">
          <div class="card-body d-flex flex-column align-items-center text-center p-4">
            <%= image_tag "Karina.jpeg", alt: "Karina", width: 100, class: "rounded-circle photo-border my-3" %>
            <h3 class="name sage-green">Karina</h3>
            <p class="bio forest">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="mt-auto">
              <p>
                <%= link_to "https://github.com/ferrazgkarina", target: "_blank", class: "icon mt-auto" do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
                <%= link_to "https://www.linkedin.com/in/karina-ferraz-815803208/", target: "_blank", class: "icon mt-auto" do %>
                  <i class="fa-brands fa-linkedin"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <%# card 4 %>
      <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
        <div class="about-card h-100 rounded shadow">
          <div class="card-body d-flex flex-column align-items-center text-center p-4">
            <%= image_tag "Agata.png", alt: "Ágata", width: 100, class: "rounded-circle photo-border my-3" %>
            <h3 class="name sage-green">Ágata</h3>
            <p class="bio forest">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <div class="mt-auto">
              <p>
                <%= link_to "https://github.com/AgataPVM", target: "_blank", class: "icon" do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
                <%= link_to "https://www.linkedin.com/in/%C3%A1gata-petramali-martinez/", target: "_blank", class: "icon" do %>
                  <i class="fa-brands fa-linkedin"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
