<div class="about-color">
  <div class="container py-5">
    <h1 class="title text-center sage-green mb-5">Meet the team</h1>
    <hr>
    <br>
    <div class="row justify-content-center gy-4">

    <%# card 1 %>
      <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
        <div class="about-card h-100 rounded shadow">
          <div class="card-body d-flex flex-column align-items-center text-center p-4">
              <%= image_tag "Erick.jpeg", alt: "Erick", width: 100, class: "rounded-circle photo-border my-3" %>
              <h3 class="name sage-green"> Erick</h3>
              <p class="bio forest">I'm a full-stack developer with a strong passion for building clean, dynamic, and user-friendly experiences using Ruby on Rails, CSS, JavaScript, SQL, among others. I'm always curious and love learning new things, whether it's exploring the latest technologies or finding better ways to solve problems. I'm excited about creating innovative solutions and constantly improving my skills along the way.</p>
              <div class="mt-auto">
                <p>
                  <%= link_to "https://github.com/bratugues", target: "_blank", class: "icon mt-auto" do %>
                    <i class="fa-brands fa-github"></i>
                  <% end %>
                  <%= link_to "https://www.linkedin.com/in/ericklobo/", target: "_blank", class: "icon mt-auto" do %>
                    <i class="fa-brands fa-linkedin"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
      </div>

      <%# card 2 %>
      <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
        <div class="about-card h-100 rounded shadow">
            <div class="card-body d-flex flex-column align-items-center text-center p-4">
            <%= image_tag "Otavio.jpeg", alt: "Otavio", width: 100, class: "rounded-circle photo-border my-3" %>
            <h3 class="name sage-green">Otavio</h3>
            <p class="bio forest">My name is Otavio Astrath, I am 24 years old and originally from Brazil. I am currently starting my journey in programming, focusing on building a strong foundation in HTML, CSS, JavaScript, Ruby, and SQL. My goal is to continuously improve my technical skills and gain experience in problem-solving through technology. I am excited to grow in this field and explore opportunities to contribute to innovative and meaningful digital solutions.</p>
            <div class="mt-auto">
              <p>
                <%= link_to "https://github.com/otavio00", target: "_blank", class: "icon mt-auto" do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
                <%= link_to "https://www.linkedin.com/in/otavio-astrath-leite-1a4942238/", target: "_blank", class: "icon mt-auto" do %>
                  <i class="fa-brands fa-linkedin"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <%# card 3 %>
      <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
        <div class="about-card h-100 rounded shadow">
          <div class="card-body d-flex flex-column align-items-center text-center p-4">
            <%= image_tag "Karina.jpeg", alt: "Karina", width: 100, class: "rounded-circle photo-border my-3" %>
            <h3 class="name sage-green">Karina</h3>
            <p class="bio forest">I built my career in tourism, leading operations and crafting content while traveling the world.Passionate about design and UX, I care deeply about accessibility and clear, human-centered flows.Now, as a full-stack developer, I build scalable web apps that solve real problems.I’m excited to ship products that make decisions simpler and more joyful.</p>
            <div class="mt-auto">
              <p>
                <%= link_to "https://github.com/ferrazgkarina", target: "_blank", class: "icon mt-auto" do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
                <%= link_to "https://www.linkedin.com/in/karina-ferraz-815803208/", target: "_blank", class: "icon mt-auto" do %>
                  <i class="fa-brands fa-linkedin"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <%# card 4 %>
      <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
        <div class="about-card h-100 rounded shadow">
          <div class="card-body d-flex flex-column align-items-center text-center p-4">
            <%= image_tag "Agata.png", alt: "Ágata", width: 100, class: "rounded-circle photo-border my-3" %>
            <h3 class="name sage-green">Ágata</h3>
            <p class="bio forest">I am passionate about technology and its power to bring people together. My background in Sales taught me to listen, understand needs, and consistently strive to create value. Today, I apply these lessons to coding, building digital solutions that are more human and effective</p>
            <div class="mt-auto">
              <p>
                <%= link_to "https://github.com/AgataPVM", target: "_blank", class: "icon" do %>
                  <i class="fa-brands fa-github"></i>
                <% end %>
                <%= link_to "https://www.linkedin.com/in/%C3%A1gata-petramali-martinez/", target: "_blank", class: "icon" do %>
                  <i class="fa-brands fa-linkedin"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
